$myColor: red;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

div {
  color: $myColor;
}
.abv {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    height: auto;
    background-color: blue;

}